/* Give your page a fun background color */
body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/
.header {
  text-align: center;
  color: #191970;
  height: 80px;
  background-color: #F0F8FF;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Monaco;
}

/* Make your p tag a different color and italic */
p {
  font-style: italic;
  font-family: Monaco;
}

/* Put a border around your image */
.image {
  background-color: #ADD8E6;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

#img {
    border: 7px solid #191970;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Change the font-family of your list */
.list {
  display: block;
  color: white;
  text-align: center;
  list-style: inside;
  height: 80px;
  background-color: #6495ED;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Monaco;

}

.footer {
  display: block;
  height: 40px;
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #191970;
}
